@import url(/css/typeColors.css);
@import url(/css/cardColors.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**#############################################################################
 * ########################FONT, HTML, BODY#####################################
 * #############################################################################
 */
@font-face {
  font-family: pokemon-font;
  src: url(/css/fonts/PKMN\ RBYGSC.ttf);
}

html {
  font-family: pokemon-font, monospace;
  scroll-behavior: smooth;
}

body {
  background: url(/css/pics/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/**#############################################################################
 * ##################################HEADER#####################################
 * #############################################################################
 */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header > img {
  width: 80%;
  align-self: center;
  margin-top: 1rem;
}

.listed-pokemon {
  text-align: center;
  font-size: 1.2rem;
  width: 80%;
  padding: 1rem 0;
}

/*form*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
  width: 100%;
}

.form > input {
  padding: 0.6rem;
  border-radius: 30px;
  border: 2px solid #a9a9a9;
  outline: none;
  font-family: pokemon-font;
  font-size: 0.9rem;
  width: 70%;
  box-shadow: 0 2px 5px rgb(58, 58, 58);
}

.form > button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pokeball {
  width: 50px;
  height: 50px;
}

/**#############################################################################
 * ##################################MAIN#######################################
 * #############################################################################
 */
.banner {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
/* UL POKELIST */
ul.pokeList {
  list-style: none;
}
/*FLIP CONTAINER*/
.flip-container {
  position: relative;
  perspective: 1000;
  border-radius: 16px;
  overflow: hidden;
  padding: 1rem;
}

.flipCard {
  transform: rotateY(180deg);
}

/*CARD*/
.card {
  width: 310px;
  height: 230px;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 0.3rem;
  border-radius: 16px;
  border: 2.5px solid #000;
}

/*FRONT CARD*/
.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgb(58, 58, 58);
  gap: 0.3rem;
}

.pokemon-front {
  width: 100%;
  height: 75%;
  object-fit: contain;
}

.pokeName {
  background: rgba(255 255 255/0.7);
  width: 95%;
  border-radius: 30px;
  padding: 0.5rem 0.3rem;
  text-align: center;
  font-size: 0.95rem;
  border: 1.5px solid #000;
  text-transform: capitalize;
}

/*BACK CARD*/
.back {
  transform: rotateY(-180deg);
}

/*types*/
.types {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  font-size: 0.8rem;
}

/*container-back*/
.container-back {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 90%;
  position: relative;
}

/*img*/
.pokemon-back {
  width: 45%;
  height: 75%;
  object-fit: contain;
  align-self: flex-start;
}

/*stats*/
.stats {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  top: 15px;
}

.stats > li {
  display: flex;
  align-items: flex-end;
}

.stats > li > h3 {
  padding: 0.4rem 1rem;
  width: 140px;
  background: #fff;
  border-radius: 30px;
  border: 1.5px solid #000;
  font-size: 0.6rem;
  color: #000;
  box-shadow: 0 2px 5px rgb(58, 58, 58);
}

/*Weight and Height*/
.heightWeight {
  position: absolute;
  display: flex;
  gap: 0.3rem;
  bottom: 10px;
  left: 16px;
}

.pokemon-height,
.pokemon-wheight {
  list-style: none;
}

.pokemon-height > li,
.pokemon-weight > li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(241 241 241/0.5);
  border-radius: 30px;
  padding: 0.1rem 0.4rem;
  border: 1px solid rgba(255 255 255/0.5);
}

.pokemon-height > li > img,
.pokemon-weight > li > img {
  width: 20px;
}

.pokemon-height > li > img {
  transform: rotate(90deg);
}

.pokemon-height > li > h3,
.pokemon-weight > li > h3 {
  color: #fff;
  font-size: 0.8rem;
}

/*FOOTER*/
footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  padding: 1.5rem 1rem;
  background: rgba(255, 255, 255, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.29);
}

/*LOADER*/
.loader-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.loader {
  width: 50%;
}

/*START ANIMATION*/
.first {
  width: 100vw;
  height: 100vh;
  background-color: #fb1b1b;
  top: 0;
  left: 0;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 0% 100%);
  z-index: 2;
  pointer-events: none;
}

.second {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  top: 0;
  left: 0;
  position: absolute;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  z-index: 2;
  pointer-events: none;
}

.ball {
  height: 8rem;
  width: 8rem;
  z-index: 3;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: white;
  font-family: pokemon-font;
  font-size: 1.5rem;
  background-color: rgba(255 255 255 / 0.5);
  padding: 1rem;
  border-radius: 30px;
  z-index: 3;
  position: absolute;
  text-align: center;
  width: 90vw;
  left: 50%;
  top: 62%;
  transform: translate(-50%, 10%);
  pointer-events: none;
}

/*MEDIA QUERIES*/
@media (min-width: 600px) {
  header > img {
    width: 50%;
  }
  header > form > input {
    margin: 1rem;
  }
  header > h2 {
    text-align: center;
    padding-bottom: 1rem;
    width: 90%;
  }

  main > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  header {
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
  }

  header > form {
    align-self: flex-end;
  }

  .banner {
    display: block;
    width: 100%;
  }

  .text {
    width: 50%;
    font-size: 2rem;
  }
}
